<section
	class="section py-5 has-background-white"
	style="border-top: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb"
>
	<div class="container">
		<p class="has-text-centered is-size-7 has-text-grey has-text-weight-semibold is-uppercase">
			trusted by teams who ship
		</p>

		<div class="columns is-multiline is-variable is-2 mt-4">
			<div class="column is-6-mobile is-4-tablet is-2-desktop">
				<div class="box has-text-centered has-text-weight-semibold is-size-7">
					Northwind
				</div>
			</div>
			<div class="column is-6-mobile is-4-tablet is-2-desktop">
				<div class="box has-text-centered has-text-weight-semibold is-size-7">Acme Co</div>
			</div>
			<div class="column is-6-mobile is-4-tablet is-2-desktop">
				<div class="box has-text-centered has-text-weight-semibold is-size-7">Skyline</div>
			</div>
			<div class="column is-6-mobile is-4-tablet is-2-desktop">
				<div class="box has-text-centered has-text-weight-semibold is-size-7">
					PixelWorks
				</div>
			</div>
			<div class="column is-6-mobile is-4-tablet is-2-desktop">
				<div class="box has-text-centered has-text-weight-semibold is-size-7">Orbit</div>
			</div>
			<div class="column is-6-mobile is-4-tablet is-2-desktop">
				<div class="box has-text-centered has-text-weight-semibold is-size-7">
					BlueRiver
				</div>
			</div>
		</div>
	</div>
</section>
